button#upload-raw Upload Raw
button#upload-images Upload JPGs
button#tile-images Tile Images
p
	span Status: 
	span#current-status
p
	span Running:
	each item in imageInfo
		if item.isRunning
			span= item.type
p
	span Progress: 
	span#images-progress
