doctype html
html
	head
		meta( charset='UTF-8')
		meta( name='viewport', content='maximum-scale=1,width=device-width,initial-scale=1,user-scalable=0')
		title Barnes Collection Scripts Dashboard
		link(href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css", rel="stylesheet")
		link( href="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.13/css/dataTables.bootstrap.css", rel="stylesheet")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.min.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js")
		script(src="scripts/dashboard.js")
		script(src="scripts/templates.js")
		script(src="scripts/renderjson.js")
	body
		h1 Dashboard
		section
			div.panel.panel-default
				div.panel-heading
					h2.panel-title TMS to CSV Exporter
				div#tmsExportPanelBody.panel-body
					p
						span Loading...
		section
			div.panel.panel-default
				div.panel-heading
					h2.panel-title Exported CSV files
				div#csvFilesPanelBody.panel-body
					p
						span Loading...
		section
			div.panel.panel-default
				div.panel-heading
					h2.panel-title Elasticsearch
				div#esPanelBody.panel-body
					p
						span Loading...
		section
			div.panel.panel-default
				div.panel-heading
					h2.panel-title Image Processing
				div#imageProcessingPanelBody.panel-body
					p
						span Loading...
